<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataGen.Cryptography" version="1.7.3" targetFramework="net35" />
  <package id="DataGen.Extensions" version="1.7.3" targetFramework="net35" />
  <package id="DataGen.NumberToWords" version="1.7.3" targetFramework="net35" />
</packages>